body {
    background-color: #EFEFF3;   
}

.header {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /*TODO: change text color to dark blue; add teal box around it*/
    background-color: #3d3e54;
    color: #7fe2dd;
}

.header h1 {
    display: inline-block;
    font-size: 32px;
    color: #7fe2dd;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: inline-end;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7fe2dd; 
}

.header nav ul {
    list-style-type: none;
   
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline 5px ;
    
    color:#7fe2dd;
}

a:link {
    color: #7fe2dd;
    text-decoration: none;
}

a:visited {
    color: #7fe2dd;
}


main {
    display: flex;
}


.cover-photo {
    height: 170px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}



.selfie {
    height: 70%;
    width: 90%;
    position: relative; 
    margin: 10px;
    /*background-position:left;*/

}


/* ---------------- CSS FOR ASIDE -------------------*/
.left {
    width: 40%;
    font-family: Arial, Helvetica, sans-serif ;
    color: #3d3e54;
    float:right;
    padding-right: 30px;
  
}


.left h2 {
    font-size: 35px;
}


.aboutMe {
    margin-bottom: 200px;
    text-align: right;
    /* remove due to adding border for top/middle/bottom containers
    border-right: solid #3d3e54; */
    
}

.work {
    margin-bottom: 200px;
    text-align: right;
    /* remove due to adding border for top/middle/bottom containers
    border-right: solid #3d3e54; */

}

.contactMe {
    margin-bottom: 200px;
    text-align: right;
    /* remove due to adding border for top/middle/bottom containers
    border-right: solid #3d3e54; */
}
/* ---------------- END CSS FOR ASIDE -------------------*/





/*-------------- CSS FOR TOP CONTAINER -----------*/

.top {
    margin-right: 5%;
    display: block;
    padding-left: 25px;
    border-left: solid #3d3e54;
}
p {
    
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3e54;
    margin-top: 30px;
    font-size: 20px;
    line-height: 150%;
}

/*-------------- END CSS FOR TOP CONTAINER -----------*/

.middle {
    display: block;
}



/*-------------- CSS FOR MIDDLE CONTAINER -----------*/
/*-------------- END CSS FOR MIDDLE CONTAINER -----------*/







/*
.verticalLine {
    border-left: 6px solid #648ec8;
    height: 150px;
    position:relative;
    left: 30%
}