body {
    background-color: #EFEFF3;   
}

.header {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*TODO: change text color to dark blue; add teal box around it*/
    background-color: #3d3e54;
    color: #7fe2dd;
}

.header h1 {
    display: inline-block;
    font-size: 32px;
    color: #7fe2dd;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: inline-end;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7fe2dd; 
}

.header nav ul {
    list-style-type: none;
   
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline 5px ;
    
    color:#7fe2dd;
}

a:link {
    color: #7fe2dd;
    text-decoration: none;
}

a:visited {
    color: #7fe2dd;
}
main {
    display: flex;
}
.aside {
    width: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: #648ec8;
    float:right;
    padding-right: 30px;
  
}

p {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #648ec8;
    border-left: solid #648ec8;
}

.cover-photo {
    height: 170px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.selfie {
    height: 75px;
    width: 75px;
    position: relative; 
    margin: 10px;
    /*background-position:left;*/

}

.aboutMe {
    margin-bottom: 200px;
    text-align: right;
    /*border-right: solid #648ec8;*/
    
    
}

.work {
    margin-bottom: 200px;
    text-align: right;
}

.contactMe {
    margin-bottom: 200px;
    text-align: right;
}
/*
.verticalLine {
    border-left: 6px solid #648ec8;
    height: 150px;
    position:relative;
    left: 30%
}